<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muxi.association.mapper.AssocMemberMapper">
    <select id="selectAssocMemberListByCondition" resultType="com.muxi.association.pojo.vo.AssocMemberVo">
        SELECT AM.id, AM.department, AM.status, A.name, U.username, U.phone, U.credit, R.authority, R.role
        FROM assoc_member AM
        LEFT JOIN association A on AM.association_id = A.id
        LEFT JOIN user U on AM.user_id = U.id
        LEFT JOIN role R on AM.role_id = R.id
        WHERE 1=1
        <if test="name != null" >
            and A.name like concat('%',#{name},'%')
        </if>
        <if test="department != null" >
            and AM.department = #{department}
        </if>
        <if test="username != null" >
            and U.username = #{username}
        </if>
        <if test="status != null" >
            and AM.status = #{status}
        </if>
        LIMIT #{pageNum}, #{limit}
    </select>

    <select id="selectAssocMemberCountByCondition" resultType="java.lang.Long">
        SELECT count(*)
        FROM assoc_member AM
        LEFT JOIN association A on AM.association_id = A.id
        LEFT JOIN user U on AM.user_id = U.id
        LEFT JOIN role R on AM.role_id = R.id
        WHERE 1=1
        <if test="name != null" >
            and A.name like concat('%',#{name},'%')
        </if>
        <if test="department != null" >
            and AM.department = #{department}
        </if>
        <if test="username != null" >
            and U.username = #{username}
        </if>
        <if test="status != null" >
            and AM.status = #{status}
        </if>
    </select>

    <select id="selectAssocMemberVoById" resultType="com.muxi.association.pojo.vo.AssocMemberVo">
        SELECT AM.id, AM.department, AM.status, A.name, U.username, U.phone, U.credit, R.authority, R.role
        FROM assoc_member AM
                 LEFT JOIN association A on AM.association_id = A.id
                 LEFT JOIN user U on AM.user_id = U.id
                 LEFT JOIN role R on AM.role_id = R.id
        WHERE AM.id = #{id} LIMIT 1;
    </select>

</mapper>