<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muxi.association.mapper.RoleMapper">
    <select id="selectAuthorityGroup" resultType="java.lang.String">
        SELECT authority FROM role GROUP BY authority
    </select>

</mapper>